

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style2.css">
        <title>Chocie Available</title>
    </head>
    <body>
        <div class="container-fluid top">
            <div class="heading">
                Student Councelling
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" >
                <a class="nav-link " href="/home">Home</a>
                <a class="nav-link " href="/changepassword">Change Password</a>
                <a class="nav-link " href="/logout">Logout</a>
            </form>
        </nav>
    
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <ul class="list-group">
                        <a  class="list-group-item active">Available services</a>
                        <a href="./Candidate_profile" class="list-group-item list-group-item-action">Candidate Profile</a>
                        <a href="./choices_available" class="list-group-item list-group-item-action">Choices available</a>
                        <a href="./filling_choices" class="list-group-item list-group-item-action">Filling choices</a>
                        <a href="./Update_info" class="list-group-item list-group-item-action">Update information</a>
                </ul>
                </div>
                <div class="col">
                    <ul class="list-inline tot"> 
                        <% {%> 
                           <li class="list-inline-item name">Candidate Name : <%=  profile[0].Fullname %> </li>

                           <li class="list-inline-item roll">Candidate Rollnumber : <%= profile[0].Rollnumber %> </li>            
                        <% } %>                      
                    </ul>
            
                    <form action="/search" method="post" >
                        <div  class="input-group ">
                            
                            <input type="text" class="form-control" name="search" placeholder="Search" style="width: 900px;">                    
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-success" value="Go">Go</button>
                                </div>
                        
                        </div>
                    </form>
                    

                  

                    



                    
                    <table class="table table-bordered ">
                        <thead >
                            <tr>
                                <th scope="col">SrNo.</th>
                                <th scope="col">Institute</th>
                                <th scope="col">Program</th>
                            </tr>
                        </thead>
    
    
                        <tbody>
                            <% list.forEach(function(ele,index) { %>
                                <tr>
                                    <td><%= index + 1 %></td>    
                                    <td> <%= ele['INSTITUTE']%> </td>
                                    <td><%= ele['COURSE']%> </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
    
                    
    
                </div>
            </div>
        </div>
    
    
    
    
    
        
    </body>
    </html>